Package: sh.tat.alwayshdr
Name: AlwaysHDR
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Tatsh
Author: Tatsh
Section: Tweaks
